.curso {
    padding: 10rem 0;
    margin-top: 5rem;
    background-size: cover;
    background-position: center center;
}


@media (min-width: 768px) {
    .curso-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .curso .contenido {
        grid-column: 2 / 3;
    }
}

.curso .texto {
    text-align: center;
    color: var(--white);
    font-size: 1.8rem;
}
