:root {
    --primary: #e99401;
    --black: #262626;
    --white: #FFF;
    --fuente-principal: 'Outfit', sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*="contenedor"], 
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*="heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
  }

/* ******************* HEADER ******************* */

.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)), url(/img/header.jpg);
    background-position: center center;
    background-size: cover;
    padding: 6rem 0;
}
.header .logo {
    width: 25rem;
}
.barra {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}
@media (min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header .navegacion {
    display: flex;
    gap: 1.8rem;
}

.header .navegacion a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    transition-duration: .2s;
}
.header .navegacion a:hover,
.header .navegacion .active {
    color: var(--primary);
}
.header .navegacion img {
    width: 2.8rem;
}

/* ******************* FOOTER ******************* */

.footer {
    background-color: var(--black);
    padding: 5rem 0;
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .footer .contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer .navegacion {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .footer .navegacion {
        flex-direction: row;
        gap: 1.6rem;
    }
}
.footer .navegacion a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
}
.footer .navegacion a:last-child {
    display: none;
}
.copyright {
    color: var(--white);
    font-size: 1.4rem;
    text-align: center;
}

/* ******************* ERROR ******************* */

.error {
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}
.error-enlace {
  display: block;
  text-decoration: none;
  color: var(--primary);
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* ******************* ENLACE ******************* */

.enlace {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--white);
    background-color: var(--black);
    padding: .5rem 1.5rem;
    border-radius: 100vmax;
    transition: .2s;
}
.enlace:hover {
    background-color: var(--primary);
}